<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">

    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/static/js/tableExport.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap_table.js"></script>
    <script src="/static/js/common.js"></script>

    <title>Employee Management</title>

    <style>
        /* CSS section */
    </style>  
    <script>
        function runingFormater(value, row, index){
            alert(index)
            return index+1;
        }
        function queryParams(params){
            if(params.search == undefined || params.search == ''){
                params.search = '';
            }
            return params;
        }
    </script>
</head>
<body>
    {%include 'header1.html' %}
    <div class="container-5">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#employee_list_tab"><b>Employee List</b></a></li>
            <li class="pull-right">
                <button type="button" class="btn btn-primary" id="add_employee">Add Employee</button>
            </li>
        </ul>
        
        
        <div class="tab-content">
            <div class="tab-pan fade in active" id="employee_list_tab">
                <table id="table_user_master" class="table custom-bordered-table "data-pagination="true" data-page-list="[5, 10, 20]"
                    data-toggle="table"
                    data-url="/retrive_tb_manage_employee"
                    data-search="true"
                    data-show-export="true"
                    data-show-columns="true"
                    >
                    <thead>
                        <tr>
                            <th data-field="id" class="text-center">ID</th>
                            <th data-field="employee_id" class="text-center">Employee Id</th>
                            <th data-field="first_name" class="text-center">First Name</th>
                            <th data-field="middle_name" class="text-center">Middle Name</th>
                            <th data-field="last_name" class="text-center">Last Name</th>
                            <th data-field="contact" class="text-center">Contact_No</th>
                            <th data-field="email_id" class="text-center">Email Id</th>
                            <th data-field="gender" class="text-center">Gender</th>
                            <th data-field="birth_date" class="text-center">Birth Date</th>
                            <th data-field="blood_group" class="text-center">Blood Group</th>
                            <th data-field="pan_number" class="text-center">PAN Number</th>
                            <th data-field="Aadhar_number" class="text-center">Aadhar Number</th>
                            <th data-field="total_experience" class="text-center">Total Experience</th>
                            <th data-field="designation" class="text-center">Designation</th>
                            <th data-field="employee_type" class="text-center">Employee Type</th>
                            <th data-field="joining_date" class="text-center">Joining Date</th>
                            <th data-field="city" class="text-center">City</th>
                            <th data-field="Country" class="text-center">Country</th>
                            <th data-field="current_address" class="text-center">Current Address</th>
                            <th data-field="permanent_address" class="text-center">Permanent Address</th>
                        </tr>      
                    </thead>
                </table>
            </div>
        </div>
    </div>
    {%include 'footer1.html' %}
</body>
<script>
    $('#add_employee').click(function(){
        window.location.href = 'add_employee_page';
    })
</script>
</html>



