
<style type="text/css">

</style>


<div class="col-md-12 noprint" style="background-color: #518241; font-size: 12px; height: 25px; color: #ffff; position:fixed; bottom:0; z-index: 3;">
    <div class="col-md-1"></div>
    <div class="col-md-3" style=" margin-top: 5px;">
        <a href="#" style="color: inherit;">Privacy Policy</a> | <a href="#" style="color: inherit;">Terms &amp; Conditions</a>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-3" style=" margin-top: 5px;">
        System Version 1.0.2
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-4" style=" margin-top: 5px;">
        <p style="margin-left: 15px;">Powered by ___________</p>
    </div>