<link rel="stylesheet" type= "text/css" href= "/static/css/font-awesome.min.css">
    <style>
        body {
            background-image: url('/static/images/management_bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            backdrop-filter: blur(2px);  
        }

        .navbar {
            background-color: transparent; 
            height: 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar h1 {
            color: white;
            margin-right: 550px;
            font-size: 25px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           
        }
        .navbar-nav, .navbar-nav2 {
            list-style: none;
            display: flex;
            align-items: center;

        }

        .navbar-nav li, .navbar-nav2 li {
            margin: 0 10px;
        }

        .navbar-nav .welcome {
            margin-right: 100px;
            margin-top: 3%;
            font-family:Georgia, 'Times New Roman', Times, serif;
            
        }
        .navbar-nav2{
            width: 100%;
            margin-top: 1%;
            background-color: rgba(0, 0, 0, 0.708);
            border: 2px solid white;
            border-radius: 20px;
            padding: 0px;
            display: flex;
            align-items: center;
        }
        .navbar-nav2 li {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 50px;
            text-align: center;
        }
        .navbar-nav2 h2 {
            margin: 0;
        }
        .navbar-nav2 li.logo {
            size: 5px;
            margin-right: 200px; 
            color:rgb(160, 208, 14);
        }
        .navbar-nav2 li a{
            font-size: small;
            display: block;
            color: white;
            padding: 4px 10px;
            text-decoration: none;
        }
       
        .navbar-nav2 li a:hover {
            background-color: white;
            color: black;
            border: 2px solid rgb(160, 208, 14);
            
        }
        .navbar-nav .butt{
            margin-top: 8%;
        }   
        .round-btn {
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.round-btn:hover {
  background-color: #3bcc8d;
}
        
    </style>
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <h1>Employee Management System</h1>
            <ul class="navbar-nav">
                <li class="navbar-item welcome"><h4>Welcome : {{session.first_name}}</h4></li><br><br>
                <li class="navbar-item butt"><button class=" round-btn  btn-sm btn-primary glyphicon glyphicon-off" id="log_out"></button></li>
            </ul>
            
        </div>
       
    </nav>
    
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav2">
                <li class="logo"><h4>Logo</h4></li>
                <li class="dropdown">
                <a class="dropdown-toggle"  data-toggle="dropdown" href="#"> Operations </a>
                <ul class="dropdown-menu">
                    <li>A</li>
                    <li>B</li>
                    <li>C</li>
                </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Master</a>
                    <ul class="dropdown-menu">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </li>
                <li><a href="/analitics">Analitics</a></li>
                <li><a href="/helpd">Helpdesk</a></li>
            </ul>
        </div>
    </nav>