<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">  
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  </head>

  <style>  
      body {  
        background: #728397 !important;  
        font-family: 'Muli', sans-serif;  
      }  
      h1 {  
        color: #000004;  
        padding-bottom: 2rem;  
        font-weight: bold;  
      }  
      h4 {  
        color: #000004;  
        padding-bottom: 1rem;  
        font-weight: bold;  
        text-align: left;
      }  
      a {  
        color: #333;  
      }  
      a:hover {  
        color: #E8D426;  
        text-decoration: none;  
      }  
      .form-control:focus {  
          color: #000;  
          background-color: #fff;  
          border: 2px solid #E8D426;  
          outline: 0;  
          box-shadow: none;  
      }  
  .btn {  
    background: #e79c06;  
    border: #E8D426;  
  }  
  .btn:hover {  
    background: #28a745;  
    border: #E8D426;  
  }  
  .container{
    width:500% ;
    min-height: 100vh;
    background-image: url('/static/images/landing_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blur {
	  text-align: center;
    width: 100%;
	  backdrop-filter: blur(2.5px); /* blur effect to the backdrop */
	  background-color: rgba(255, 255, 255, 0.2);
	  height: 100vh;
	  width: 100%;
	}
  .confirmPasswordSection{
    display: none;
  }
  label[for="username"] {
      text-align: left;
      display: block;
  }
  label[for="first_name"] {
      text-align: left;
      display: block;
  }
  .card {
    border: 1px solid #045279; /* You can customize the color by changing #ccc */
    border-radius: 5px; /* Optional: Adds rounded corners */
    padding: 15px; /* Optional: Adds some padding to the card content */
  }
  </style>  

  <body>
      <div class="container"> 
        <div class="blur">
        <h1 class = "text-center">Welcome to Employee Management</h1>
          <div class="row">  
              <div class="col-md-5 mx-auto">  
                <div class="card card-body">  
                  <div class="login_form">
                    <h4 class > Log In </h4>
                    <form id="login_form">  
                      <div class="form-group required">  
                        <label for="username">Username</label>  
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your Contact or Email" required>  
                      </div>                      
                      <div class="form-group required">  
                        <label class="d-flex flex-row align-items-center" for="password"> Password</label>  
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your Password" required>  
                      </div>  
                      <div class="form-group mt-4 mb-4">  
                        <div class="custom-control custom-checkbox" style="display: flex; justify-content: flex-start; align-items: center;">  
                            <input type="checkbox" class="custom-control-input" id="remember-me" name="remember-me">  
                            <label class="custom-control-label" for="remember-me"> Remember me? </label> 
                            <a style="margin-left: 10px;" class="ml-auto border-link small-xl" href="#" id = "forgotpassword">&nbsp;&nbsp; Forgot Password? </a>
                        </div>  
                      </div>  
                      <div class="form-group pt-1">  
                        <button class="btn btn-primary btn-block" type="button" id="login"> Log In </button>  
                      </div>  
                    </form>
                  </div>
                  
                  <div class="sign_up_form" style=" height: 337px; padding-right: 20px; overflow-y: scroll;">
                    <h4 class > Sign Up </h4>
                    <form id="sign_up_form">  
                      <div class="form-group required">  
                        <label for="first_name">First Name</label>  
                        <input type="text" class="form-control required" id="first_name" name="first_name" placeholder="Enter your First Name">  
                      </div>                      
                      <div class="form-group required">  
                        <label class="d-flex flex-row align-items-center" for="last_name"> Last Name</label>  
                        <input type="text" class="form-control required" id="last_name" name="last_name" placeholder="Enter your Last Name">  
                      </div> 
                      <div class="form-group required">  
                        <label class="d-flex flex-row align-items-center" for="contact_no">Contact Number</label>  
                        <input type="text" class="form-control required" id="contact_no" name="contact_no" placeholder="Enter your Contact Number" minlength="10" maxlength="10">  
                      </div>
                      <div class="form-group required">  
                        <label class="d-flex flex-row align-items-center" for="email_id">Email Address</label>  
                        <input type="text" class="form-control required" id="email_id" name="email_id" placeholder="Enter your Email Address" >  
                      </div> 
                      <div class="form-group required">  
                        <label class="d-flex flex-row align-items-center" for="new_password">Password</label>  
                        <input type="password" class="form-control required" id="new_password" name="new_password" placeholder="Enter your Password" minlength="4" onblur="showConfirmPasswordField()">  
                      </div>
                      
                      <div class="form-group required" id="confirmPasswordSection" style="display: none;">  
                        <label class="d-flex flex-row align-items-center" for="confirmpassword" id="confirmPasswordLabel">Confirm Password</label>  
                        <input type="password" class="form-control required" id="confirmpassword" name="confirmpassword" placeholder="Enter your Confirm Password" minlength="4">  
                      </div>
                      <div class="form-group required">  
                        <label class="d-flex flex-row align-items-center" for="gender">Gender</label>  
                        <select class="form-control select_field" name="gender" id="gender" required>
                          <option value="">Please Select Gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>  
                      </div>
                      <div class="form-group pt-1">  
                        <button class="btn btn-primary btn-block" type="button" id="sign_up"> Sign Up </button>  
                      </div>  
                    </form>
                  </div>
                  <p class="small-xl pt-3 text-center login_form">  
                    <span class="text-muted"> &nbsp;&nbsp;Don't have an account? </span>  
                    <a href="#" id ="create_account"> Create New Account </a>  
                  </p>

                  <p class="small-xl pt-3 text-center sign_up_form">  
                    <span class="text-muted"> &nbsp;&nbsp;Do you have an account? </span>  
                    <a href="#" id ="login_action"> Login </a>  
                  </p>

          </div>  
      </div>  
  </body>

  <script>
    $('.sign_up_form').hide();

    $('#login').click(function(e){
      $.ajax({
          type : "POST",
          url : "/login",
          dataType : 'json',
          data : $('#login_form').serialize(),
          success: function(response){
              if(response.status){
                window.location.href = '/manage_resources';
              }
              else{
                alert(response.message);
              }
          }
      })
    })

    $('#create_account').click(function(){
        $('.login_form').slideUp(1000);
        $('.sign_up_form').slideDown(1000);
        // window.location.href = 'signup_page';
    })

    $('#login_action').click(function(){
        $('.login_form').slideDown(500);
        $('.sign_up_form').slideUp(500);
        // window.location.href = 'signup_page';
    })
    $('#login').click(function(e){
      let username = $("#username").val();
      let password = $("#password").val();

      if(username==''){
        alert("Please provide UserName");
        return false;
      }
      if(password==''){
        alert("Please provide Password");
        return false}
    })

    $('#sign_up').click(function(e){
      let f_name = $("#first_name").val();
      let l_name = $("#last_name").val();
      let contact_no = $("contact_no").val();
      let emain_id = $("#email_id").val();
      let gender = $("#gender").val();

      if(f_name==''){
        alert("Please provide First Name");
        return false;
      }
      if(l_name==''){
        alert("Please provide Last Name");
        return false
      }
      if(contact_no==''){
        alert("Please provide contact number");
        return false;
      }
      if(emain_id==''){
        alert("Please provide Email");
        return false;
      }
      if(gender==''){
        alert("Please select gender ");
        return false;
      }

      // Check for password
      let password = $('#new_password').val();
      let confirm_password = $('#confirmpassword').val();
      if(password.toString() != confirm_password.toString()){
        alert("Password Not matching, please check and try again")
        return false;
      }

      $.ajax({
          type : "POST",
          url : "/sign_up",
          data : $('#sign_up_form').serialize(),
          success: function(response){
                //alert(response);
                //window.location.href = '/login_page';
                if(response.status){
                  alert(response.message);
                  $('.login_form').show();
                  $('.sign_up_form').hide();
                }
                else{
                  alert(response.message);
                }
          }
      })
    })

    function showConfirmPasswordField() {
    const newPasswordField = document.getElementById('new_password');
    const confirmPasswordSection = document.getElementById('confirmPasswordSection');
    const confirmPasswordLabel = document.getElementById('confirmPasswordLabel');

    if (newPasswordField.value.length >= 4) {
      confirmPasswordSection.style.display = 'block';
      confirmPasswordLabel.style.display = 'block';
    } else {
      confirmPasswordSection.style.display = 'none';
      confirmPasswordLabel.style.display = 'none';
    }
    }     

  $('#forgotpassword').click(function(){
      window.location.href = 'forgotpassword_page';
  })

  $(document).ready(function () {
    // Function to clear all input fields
    function clearFields() {
      $(':input', '#sign_up_form').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
      $(':input', '#login_form').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
    }

    // Event listener for the "Create New Account" link
    $('#create_account').on('click', function () {
      // Show sign-up form and hide login form
      $('.sign_up_form').show();
      $('.login_form').hide();
      // Clear all fields
      clearFields();
    });

    // Event listener for the "Login" link
    $('#login_action').on('click', function () {
      // Show login form and hide sign-up form
      $('.login_form').show();
      $('.sign_up_form').hide();
      // Clear all fields
      clearFields();
    });
  });
    
  </script>
</html>
