<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/select2-bootstrap.css">
    <link rel="stylesheet" href="/static/css/select2.min.css">
    <link rel= "stylesheet" media="all" href= "{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css') }}">

    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/static/js/tableExport.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap_table.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/daterangepicker.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/select2.min.js"></script>
    
    <title>Manage Attendance</title>

</head>
<body>
    {% include 'header1.html' %}
    <div class="container-5">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#attendance_tab"><b> Attendance Master</b></a></li>
            <li class="pull-right"><button class="btn btn-primary" type="button" id="add_attendance_button">Add Attendance</button>  </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pan fade in active" id="attendance_tab">
                <div id="toolbar">
                    <input type="text" id="date_filter" name="date_filter" class="form-control" readonly style="background-color:#ffffff"/>
                </div>
                <table id="table_manage_attendance" class="table custom-bordered-table"
                   
                data-toggle="table"
                data-url="/retrive_tb_attendance"
                data-search="true"
                data-toolbar="#toolbar"
                data-show-export="true"
                data-show-columns="true"
                data-query-params="queryParams"
                data-pagination="true"
                data-side-pagination="server"
                data-page-size="5"
                data-page-list="[5,10,20]"
                    >
                    <thead>
                        <tr>
                            <th data-field="id" class="text-center">ID</th>
                            <th data-field="employee_id" class="text-center">Employee ID</th>
                            <th data-field="employee_name" class="text-center">Employee Name</th>
                            <th data-field="attendance_date" class="text-center">Attendance Date</th>
                            <th data-field="clock_in" class="text-center">Clock In</th>
                            <th data-field="clock_out" class="text-center">Clock Out</th>
                        </tr>      
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="attendance_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Add Attendance</h1>
                </div>
                <div class="modal-body">
                    <form id="attendanceForm" >
                        <div class="form-group">
                            <label for="employee_name">Employee Name</label>
                                <select id="employee_id" name="employee_id" class="form-control" required>
                                    
                                </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="date">Select Date</label>
                            <input type="text" id="clock_in_date_time" name="clock_in_date_time" class="form-control" readonly style="background-color:#ffffff"/>
                        </div>
                            
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="button" id="submit_attendance" class="btn btn-success">add attendance</button>
                </div>
            </div>
        </div>
    </div>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            $(document).ready(function() {
                {% for message in messages %}
                    // Use a library or custom code to show a notification for each message
                    // For simplicity, I'm using an alert here
                    alert('{{ message }}');
                {% endfor %}
            });
        </script>
    {% endif %}
{% endwith %}
<script>

    $('#date_filter').datetimepicker({
    minView: 2,
    format: 'dd-MM-yyyy',
    autoclose: true
});
$('#date_filter').datetimepicker('setDate', new Date());

// Initialize datetimepicker
$('#clock_in_date_time').datetimepicker({
    minView: 0,
    format: 'dd-mm-yyyy hh:ii:ss',
    autoclose: true
});

$('#add_attendance_button').click(function (e) {
    var attendance_date = new Date();
    // make future date disabled
    $('#clock_in_date_time').datetimepicker('setDate', attendance_date);
    // Show the modal
    $('#attendance_modal').modal('show');
});

function queryParams(params) {
    if (params.search == undefined || params.search == '') {
        params.search = '';
    }
    params.date_filter = $('#date_filter').val();
    return params;
}

$('#date_filter').change(function (e){
    $('#table_manage_attendance').bootstrapTable('refresh');
})

$('select').select2({
	width : '100%',
	theme : 'bootstrap'
})

$("#employee_id").select2({
		theme: "bootstrap",
		width: "100%",
		minimumInputLength: 1,
		ajax: {
			url: "/get_employees",
		 type: "get",
		 dataType: 'json',
		 data: function (params) {
			var query = {
				search: params.term,
				page_no: params.page || 0,
				page_size: params.page || 20,
			}

			// Query parameters will be ?search=[term]&page_no=[page_no]&page_size=[page_size]
			return query;
		 },
		 processResults: function (response, params) {
		 return {
				results: response.data,
				 pagination: {
						more: (params.page * 20) < response.total
				}
		 };
		},
	 }
	});

    $('#submit_attendance').click(function(e){
        add_attendance();
    })

    function add_attendance(){
            $.ajax({
                type: "POST",
                url: "/add_attendance",
                data: $('#attendanceForm').serialize(),
                success: function (response) {
                        if(response.status){
                            alert(response.message)
                            $('#table_manage_attendance').bootstrapTable('refresh');
                            $('#attendance_modal').modal('hide');
                        }
                        else{
                            alert(response.message)
                        }
                        
                }
            });
        }
        
        
</script>

    {% include 'footer1.html' %}
</body>
</html>
