<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">

    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/static/js/tableExport.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap_table.js"></script>
    <script src="/static/js/common.js"></script>

    <title>Manage Page</title>
    
    <style>
        /* CSS section */
    </style>  
</head>
<body>
    {%include 'header1.html' %}
    <div class="container-5">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#manage_page"><b>Manage_page</b></a></li> 
            <li><button class="btn  btn-primary btn-lg pull-left" type="button" id="add_user">Add Metatype</button>  </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pan fade in active" id="manage_page">
                <table id="table_user_master" class="table custom-bordered-table "data-pagination="true" data-page-list="[5, 10, 20]"
                    data-toggle="table"
                    data-url="/retrive_user_master"
                    data-search="true"
                    data-show-export="true"
                    data-show-columns="true">
                    <thead>
                        <tr>
                            <th data-field="sr_no" class="text-center">Sr No</th>
                            <th data-field="element" class="text-center">Element</th>
                            <th data-field="type" class="text-center">Type

                            </th>
                        </tr>      
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="edit_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Edit User</h4>
                </div>
                <div class="modal-body">
                    <form id="edit_user_form" action="/update_user" method="POST" >
                        <div class="form-group">
                            <label for="edit_first_name">First Name</label>
                            <input type="text" class="form-control" id="edit_first_name" name="edit_first_name" placeholder="Enter First Name">
                        </div>
                        <div class="form-group">
                            <label for="edit_last_name">Last Name</label>
                            <input type="text" class="form-control" id="edit_last_name" name="edit_last_name" placeholder="Enter Last Name">
                        </div>
                        <div class="form-group">
                            <label for="contact_no">Mobile No</label>
                            <input type="text" class="form-control" id="edit_contact_no" name="edit_contact_no" placeholder="Enter contact_no">
                        </div>
                        <div class="form-group">
                            <label for="email_id">Email Id</label>
                            <input type="text" class="form-control" id="edit_email_id" name="edit_email_id" placeholder="Enter your email_id">
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <input type="text" class="form-control" id="edit_role" name="edit_role" placeholder="Enter your role">
                        </div> 
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control select_field" name="edit_status" id="edit_status">
                                <option value="">Please Select status</option>
                                <option value="Active">Active</option>
                                <option value="Inactive" selected >Inactive</option>
                            </select>
                        </div>   
                        <input type="text" name="id" id="id" hidden>                               
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="submit" id="update_button" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>
    {%include 'footer1.html' %}
    <script>
        $('#update_button').click(function (e) {
        $('#edit_user_form').submit();
    });
        </script> 
</body>
</html>