<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/select2-bootstrap.css">
    <link rel="stylesheet" href="/static/css/select2.min.css">
    <link rel="stylesheet" href="/static/css/bootstrapValidator.min.css">
    <link rel= "stylesheet" media="all" href= "{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css') }}">

    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/static/js/tableExport.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap_table.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/daterangepicker.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/select2.min.js"></script>
    <script src="/static/js/bootstrapValidator.min.js"></script>
    
    <title>Manage Leave</title>
    <script>
        function statusFormatter(value, row) {
            if(row.status =='pending'){
                return '<button class="btn btn-success btn-sm" onclick="approve_leave(' + row.id + ')">Approve</button>';
            }
            else{
                return '<button class="btn btn-success btn-sm" disabled>Approve</button>';
            }
          
        }

        
function queryParams(params) {
    if (params.search == undefined || params.search == '') {
        params.search = '';
    }
    params.status = $('#leave_status').val();
    // Add pagination parameters
    return params;
}
       
      </script>
      
    
</head>
<body>
    {% include 'header1.html' %}
    <div class="container-5">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#leave_tab"><b> Leave Master</b></a></li>
            <li class="pull-right"><button class="btn btn-primary" type="button" id="apply_leave_button">Apply Leave</button>  </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pan fade in active" id="leave_tab">
                <div id="toolbar">
                    <select id="leave_status" name="leave_status" class="form-control">
                        <option value="All" selected>All</option>
                        <option value="Approved">Approved</option>
                        <option value="pending">Pending</option>
                    </select>               
                </div>
                <table id="table_user_master" class="table custom-bordered-table"  
                data-toggle="table"
                data-url="/retrive_tb_leave"
                data-search="true"
                data-toolbar="#toolbar"
                data-show-export="true"
                data-show-columns="true"
                data-query-params="queryParams"
                data-pagination="true"
                data-side-pagination="server"
                data-page-size="5"
                data-page-list="[5,10,20]">
                    <thead>
                        <tr>
                            <th data-field="id" class="text-center">ID</th>
                            <th data-field="employee_id" class="text-center">Employee ID</th>
                            <th data-field="employee_name" class="text-center">Employee Name</th>
                            <th data-field="from_date" class="text-center">From Date</th>
                            <th data-field="from_shift" class="text-center">From Shift</th>
                            <th data-field="to_date" class="text-center">To Date</th>
                            <th data-field="to_shift" class="text-center">To Shift</th>
                            <th data-field="no_of_days" class="text-center">Total Days</th>
                            <th data-field="leave_type" class="text-center">Leave Type</th>
                            <th data-field="leave_reason" class="text-center">Leave Reason</th>
                            <th data-field="status" class="text-center" >Status</th>
                            <th data-field="applied_by" class="text-center">Applied By</th>
                            <th data-field="applied_on" class="text-center">Applied On</th>
                            <th data-field="approved_by" class="text-center" data-visible="false">Approved By</th>
                            <th data-field="approved_on" class="text-center" data-visible="false">Approved On</th>
                            <th data-field="" class="text-center" data-formatter="statusFormatter">Approve</th>
                        </tr>      
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="edit_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Apply Leave</h1>
                </div>
                <div class="modal-body">
                    <form id="leaveform" action="/apply_leave" method="POST" >
                        <div class="form-group">
                            <label for="employee_id">Employee Name</label>
                                <select id="employee_id" name="employee_id" class="form-control" required>
                                    
                                </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="from_date">From Date</label>
                            <input type="text" id="from_date" name="from_date" class="form-control" placeholder="select date" style="background-color:#ffffff"/>
                        </div>

                        <div class="form-group">
                            <label for="from_shift">Form Shift</label>
                            <select id="from_shift" name="from_shift" class="form-control" style="background-color:#ffffff">
                                <option value="First Half" selected>First Half</option>
                                <option value="Second Half">Second Half</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="to_date">To Date</label>
                            <input type="text" id="to_date" name="to_date" class="form-control" placeholder="select date"  style="background-color:#ffffff"/>
                        </div>

                        <div class="form-group">
                            <label for="to_shift">To Shift</label>
                            <select id="to_shift" name="to_shift" class="form-control" style="background-color:#ffffff">
                                <option value="First Half">First Half</option>
                                <option value="Second Half" selected>Second Half</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="no_of_days">Total Days</label>
                            <input type="text" id="no_of_days" name="no_of_days" class="form-control" placeholder="select days" readonly />
                        </div>

                        <div class="form-group">
                            <label for="leave_type">Leave Type</label>
                            <select id="leave_type" name="leave_type" class="form-control" style="background-color:#ffffff" required>
                                <option value="">Please Select Leave Type</option>
                                <option value="casual_leave">Casual Leave</option>
                                <option value="earn_leave" >Earn leave</option>
                                <option value="comp_offs" >Comp Off's</option>
                                <option value="sick_leave" >Sick Leave</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="leave_reason">Leave Reason</label>
                            <input type="text" id="leave_reason" name="leave_reason" class="form-control" placeholder="give reason" style="background-color:#ffffff"/>
                        </div>
                            
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="submit" id="apply_leave" class="btn btn-success">apply leave</button>
                </div>
            </div>
        </div>
    </div>

<script>

    // $('#leaveform').bootstrapValidator({
    //     feedbackIcons: {
    //         valid: 'glyphicon glyphicon-ok',
    //         invalid: 'glyphicon glyphicon-remove',
    //         validating: 'glyphicon glyphicon-refresh'
    //     },
    //     fields: {
    //         employee_name: {
    //             validators: {
    //                 notEmpty: {
    //                     message : "Please select employee Name"
    //                 }
    //             }
    //         },
    //         from_date: {
    //             validators: {
    //                 notEmpty: {
    //                     message : "Please select from date"
    //                 },
    //                 date: {
    //                     format: 'dd-mm-yyyy',
    //                     message: 'Date format should be dd-mm-yyyy'
    //                 }
    //             }
    //         },
    //         to_date: {
    //             validators: {
    //                 notEmpty: {
    //                     message : "Please select to date"
    //                 },
    //                 date: {
    //                     format: 'dd-mm-yyyy',
    //                     message: 'Date format should be dd-mm-yyyy'
    //                 }
    //             }
    //         },
            // leave_reason: {
            //     validators: {
            //         notEmpty: {
            //             message : "Please provide leave reason"
            //         },
            //         stringLength: {
            //             min: 5,
            //             max: 10,
            //             message : 'should be 5 to 10 character'
            //         }
            //     }
            // }
    //     }
    // }).on('success.form.bv', function(e){

    // })

    $('#update_button').click(function (e) {
        $('#statusForm').submit()});


// Initialize datetimepicker
$('#from_date').datetimepicker({
    minView: 2,
    format: 'dd-mm-yyyy',
    autoclose: true
});

$('#to_date').datetimepicker({
    minView: 2,
    format: 'dd-mm-yyyy',
    autoclose: true
});
$('#approved_on').datetimepicker({
    minView: 2,
    format: 'dd-mm-yyyy',
    autoclose: true
});

$('#apply_leave_button').click(function (e) {
    // Show the modal
    $('#edit_modal').modal('show');
});

$('select').select2({
	width : '100%',
	theme : 'bootstrap'
})

$('#from_date, #to_date, #from_shift, #to_shift').change(function (e){
    // $('#from_date').closest('form').bootstrapValidator('revalidateField', $('#from_date').prop('name'))
    // $('#to_date').closest('form').bootstrapValidator('revalidateField', $('#to_date').prop('name'))
    calculateDays();
});

function calculateDays() {
    let from_date = $('#from_date').val();
    let from_shift = $('#from_shift').val();
    let to_date = $('#to_date').val();
    let to_shift = $('#to_shift').val();
   
    if(from_date != '' && to_date != ''){
        let no_of_days = get_date_difference(from_date, to_date) + 1;
        
        if(from_shift == 'Second Half'){
            no_of_days -= 0.5;
        }

        if(to_shift == 'First Half'){
            no_of_days -= 0.5;
        }

        $('#no_of_days').val(no_of_days);
    }
    else{
        $('#no_of_days').val('');
    }
    
    
}

    function approve_leave(leave_id){
        if(confirm("Are you sure want to approve leave?")){
            $.ajax({
                type: "POST",
                url: "/approve_leave",
                contentType: 'application/json; charset=utf-8', // Fix the typo here
                dataType: 'json',
                data: JSON.stringify({"leave_id": leave_id}),
                success: function (response) {
                        alert(response.message)
                        $('#table_user_master').bootstrapTable('refresh');
                }
            });
        }
        else{
            return false;
        }
        
    }
    
$("#employee_id").select2({
		theme: "bootstrap",
		width: "100%",
		minimumInputLength: 1,
		ajax: {
			url: "/get_employees",
		 type: "get",
		 dataType: 'json',
		 data: function (params) {
			var query = {
				search: params.term,
				page_no: params.page || 0,
				page_size: params.page || 20,
			}

			// Query parameters will be ?search=[term]&page_no=[page_no]&page_size=[page_size]
			return query;
		 },
		 processResults: function (response, params) {
		 return {
				results: response.data,
				 pagination: {
						more: (params.page * 20) < response.total
				}
		 };
		},
	 }
	});
    $(document).on('change', '#leave_status', function () {
    // Retrieve the selected leave status filter value
    var selectedStatus = $(this).val().toLowerCase();
    console.log(selectedStatus )
    // Use Bootstrap Table's filter method to filter the table by status
    $('#table_user_master').bootstrapTable('filterBy', { status: selectedStatus });
});

$('#from_date').change(function(e){
    let from_date = $('#from_date').val();
    let to_date = $('#to_date').val();
    if(from_date != '' && to_date != ''){
        let days = getDaysBetweenDate(from_date, to_date)
        if((days+1)<=0){
            $('#from_date').val('');
            alert("From Date should not be greater than To Date")
        }
    }
    
})

$('#to_date').change(function(e){
    let from_date = $('#from_date').val();
    let to_date = $('#to_date').val();
    if(from_date != '' && to_date != ''){
        let days = getDaysBetweenDate(from_date, to_date)
        if((days+1)<=0){
            $('#to_date').val('');
            alert("To Date should be greater than From Date")
        }
    }
    
})
$('#apply_leave').click(function(e){
        apply_leave();
    })
function apply_leave(){
            $.ajax({
                type: "POST",
                url: "/apply_leave",
                data: $('#leaveform').serialize(),
                success: function (response) {
                        if(response.status){
                            alert(response.message)
                            $('#table_user_master').bootstrapTable('refresh');
                            $('#edit_modal').modal('hide');
                        }
                        else{
                            alert(response.message)
                        }
                        
                }
            });
        }


</script>

    {% include 'footer1.html' %}
</body>
</html>
